// Spacers

$spacer: 8px !default;
$spacers: (
  0: 0,
  1: $spacer,
  2: $spacer * 2,
  3: $spacer * 3,
  4: $spacer * 4,
  5: $spacer * 10,
);

// Grid breakpoints

$grid-breakpoints: (
  xs: 0,
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  xxl: 1367px,
) !default;

// Containers

$container-gutter: 40px !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1300px,
) !default;

// Grid

$grid-columns: 6 !default;

// Displays

$displays: none, flex, grid !default;
